.App {
  text-align: left;
}


.filterBar{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: auto;
    text-align: left;
    
}
.searchIcon{
    height: 18px;
}

/* .select{ */
    /* height: auto; */
    /* font-size: 24px; */
    /* display: inline-block; */
/* } */
/* .input[type="text"]{ */
    /* height: 100%; */
    /* font-size: 24px; */
    /* background-color: red; */
    /* display: inline-block; */
/* } */

#selectBox{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    height: 100%;
    width: 48%;
    font-family: 'Orbitron', sans-serif;
}
#searchBox{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    height: 100%;
    width: 48%;
    font-family: 'Orbitron', sans-serif;
}
#searchButton{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    height: 100%;
    object-fit: scale-down;
    margin-left: -24px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    
}

#searchButton:active{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    height: 100%;
    object-fit: scale-down;
    margin-left: -24px;
    background-color: rgba(127,127 ,127, 0.5);
    border: none;
    
}