@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron-Regular.ttf')  format('truetype');
  /* src: url('./Orbitron-Black.ttf')  format('truetype'); */
  /* src: url('./Orbitron-Bold.ttf')  format('truetype'); */
  /* src: url('./Orbitron-Medium.ttf')  format('truetype'); */
}

body{
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

.mainBar{
    padding: 0;
    margin:0;
    text-align: left;
    height: auto;
    width: 100%;
    background-color: #27254E;
}

.mainButton{
    height: 100%;
    font-size: 2em;  
    background-color: #27254E;
    color: #7E7ABD;
    border: 2px solid #27254E;
    margin: 0px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
}

@media (max-aspect-ratio: 3/4){

.mainButton:active{
    background-color: #27254E;
    color: #7E7ABD;
    border-style: inset;
    font-family: 'Orbitron', sans-serif;
}

.buttonPressed{
    height: 100%;
    font-size: 2em;
    background-color: #27254E;
    border: 2px inset #38365F;
    margin: 0px;
    overflow: hidden; 
    font-family: 'Orbitron', sans-serif;    
}
.buttonGray{
    width: auto;
    height: 100%;
    font-size: 2em;
    background-color: #27254E;
    border: 2px solid #27254E;
    color: #5e5d7b;
    margin: 0px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    
}  
}





@media (min-aspect-ratio: 3/4){
.mainbar{
    display: flex;
}
.buttonPressed{
    width: auto;
    height: 100%;
    font-size: 2em;
    background-color: #27254E;
    border: 2px inset #38365F;
    color: #7E7ABD;
    margin: 0px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    
}

.mainButton{
    width: auto;
    height: 100%;
    font-size: 2em;
    background-color: #27254E;
    border: 2px solid #27254E;
    color: #7E7ABD;
    margin: 0px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    
}

.buttonGray{
    width: auto;
    height: 100%;
    font-size: 2em;
    background-color: #27254E;
    border: 2px solid #27254E;
    color: #5e5d7b;
    margin: 0px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    
}

}